{% extends 'index.html' %}
{% load static %}
<!doctype html>
    {% block title %}
    <title>Film</title>
        <link rel="stylesheet" href="{% static 'css/filmone.css' %}">
    {% endblock %}

    {% block content %}

        <h1>О фильме</h1>
        <img src="{% static modelkino.poster %}" alt="" width="300px">
        <h3>Название: {{ modelkino.name }}</h3>
        <h3>Жанр: {{ modelkino.genre }}</h3>
        <h3>Режиссер: {{ modelkino.director }}</h3>
        <h3>Страна: {{ modelkino.country }}</h3>
        <h3>Год: {{ modelkino.year }}</h3>
        <h3>Актеры: </h3>
        <ul>
            {% for one in modelkino.actor.all %}
            <li>{{ one.name }}</li>
            {% endfor %}
        </ul>
        <h3>Рейтинг: {{ modelkino.rating }}</h3>
        <h3>Описание: {{ modelkino.info }}</h3>
        <h3>Подписка: {{ modelkino.podpiska }}</h3>

        {% if user.is_anonymous %}

            <h3>Авторизуйтесь для просмотра фильма
                <a href="{% url 'login' %}">
                    <button>Ссылка</button>
                </a>
            </h3>


        {% else %}
                <h3>Подписка пользователя: {{ user.modelprofile.podpiska }}</h3>

                {% if user.modelprofile.podpiska.id >= modelkino.podpiska.id %}
                <h3>Трейлер: </h3>
                <iframe width="560" height="315" src="{{ modelkino.file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% else %}
                <h3>Купите подписку
                    <a href="{% url 'kabinet' %}">
                        <button>Ссылка</button>
                    </a>
                </h3>
                {% endif %}
        {% endif %}

        {% if not user.is_anonymous %}
            <form action="{% url 'otziv' modelkino.id %}" method="post">
                {% csrf_token %}
                {{ modelkino.getForm }}
                <input type="submit" value="Отправить">
            </form>
        {% endif %}

        {% for one in modelkino.getOtziv %}
            <div>
                <h4>{{ one.user }}</h4>
                <p>{{ one.text }}</p>
            </div>
        {% endfor %}
    {% endblock %}
